DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# Used to sign session cookies. Generate your own with `openssl rand -base64 32`.
SESSION_SECRET="replace-me-with-a-random-32-byte-base64-string"
